
/* universal */

body {
  padding-top: 100px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  letter-spacing: -1px;
  margin-top: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;

}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  margin: 0;
}

.divide {
  height: 25px;
}

#top-page {
  height: 50px;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FEA650;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  cursor: pointer;
}

#c-button {
  float: right;
  margin-right: 10px;
  font-size: 1.2em;
  color: #FEA650;
  letter-spacing: -1px;
  padding-top: 14px;
  cursor: pointer;
}
/* about me */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 48%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}


#am h1 {
  margin: auto;
  padding-right: 0%;
  padding-top: 25px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  #about {
    margin-left: 0;
    border-right: solid white;
  }
  #me {
    height: 300px;
  }
}

@media only screen and (min-width: 700px) {
  #about {
    border-right: solid black;
  }
}

#about p {
  padding-top: 25px;
  padding-right: 15px;
  text-align: justify;
}
#about h4 {
  text-align: center;
}
#me h1 {
  position: relative;
  margin: auto;
  padding-bottom: 25px;
}

#picofme {
  height: 275px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

/* skills */

#skills {
  height: 625px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 100px;
}

.chart { width: 100%; }

.chart li {
  border-radius: 4px 4px 0 0; /* Remember vendor prefixes */
  box-shadow: 0 1px 0 0 rgba(255,255,255,.6) inset; /* Remember vendor prefixes */
  display: block;
  height: 125px;
  padding: 25px 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}

.chart .subskill {
  margin: -.6em 0 5px 0;
}

.chart .skill {
  font-size: 25px;
  letter-spacing: -3px;
  opacity: .4;
  width: 100%;
}

.chart .bar {
background: #FEA650;
background-image: linear-gradient(#FFB973, #FEA650 70%);
border: 1px solid #FFB973;
}

.chart span { font-size: 30px;
}

@media only screen and (max-width: 699px) {
  .chart {
    visibility: hidden;
  }
}
@media only screen and (min-width: 699px) {
  .tidy-list {
    display: none;
  }
}

.span_1_of_5 {
	width: 18.72%;
}

@media only screen and (max-width: 699px) {
	.col {
    margin: 1% 0 1% 0%;
    }
	.span_1_of_5 {
    width: 100%;
  }
  .skills-title {
    color: #FEA650;
  }
  .skills-list {
    padding-right: 30px;
    padding-bottom: 5px;
  }
}

@media (min-width: 700px) {
  .chart {
    background: url("http://cl.ly/QSpc/bg-chart.png") right top repeat-x;
    height: 425px;
    margin: 0 auto -32px;
  }
  .chart li {
    display: inline-block;
    height: 425px;
    margin: 0 1.8% 0 0;
    width: 14%;
  }
  .chart .axis {
    display: inline-block;
  }
  .chart .skill {
    font-size: 20px;
    position: absolute;
  }
  .chart .subskill {
    font-size: 16px;
  }
  .one {
  padding-top: 50px;
  }
}

@media (min-width: 1000px) {
  .chart .skill {
    font-size: 25px;
  }
}
.axis {
    top: -25px;
    width: 30%;
}
.axname {
  height: 83px;
}


/* projects */

.projects {
  height: 400px;
  text-align: justify;
}

.projects h3 {
  color: #FEA650;
}

.projectpics {
  height: 175px;
  border:1px solid #021a40;
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 31%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 {
    width: 100%;
  }
  #projects h1 {
    padding-top: 70px;
  }
  .projects h3 {
    padding-top: 10px;
  }
  .projects {
    height: 15%;
  }
}

/* ideal job */
#idealjob {
  height: 300px;
  text-align: justify;
}

#idealjob p {
  padding-right: 15px;
}
@media only screen and (max-width: 480px) {
  #idealjob h1 {
    font-size: 40px;
    }
}
