<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <!-- <li>{{ site.title }}</li> -->
          <li>By: Sarah McDonald</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github-alt"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
        {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    <!-- <div id="response"></div>
    <div class="footer-col  footer-col-3">
      <ul class="contact-list">
      <li>Let's Keep in Touch!</li>
      <form id="commentForm">
        <li>
          <label for="name">Name</label>
          <input type="text" name="name" id="name" required>
        </li>
        <li>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" required>

        <li>
          <label for="comments">Message<br/></label>
          <textarea name="comments" id="comments" required></textarea>
        </li>
        <input type="submit" value="Send Message">

      </form>
    </ul>
    </div>
<script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="javascript/emailer.js"></script> -->

    </div>

  </div>

</footer>
